<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OSM Gualeguaychu</title>

	<!-- Estilos personalizados -->
      <link rel="stylesheet" href="../css/estilos.css">

    {{! fuentes de google !}}
      <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,700&display=swap" rel="stylesheet">

    {{! https://fontawesome.com !}}
      <script src="https://kit.fontawesome.com/59d510d112.js" crossorigin="anonymous"></script>
    
    
	<!-- Buttons DataTables -->
      <link rel="stylesheet" href="../css/bootstrap.css"> 
	  <link rel="stylesheet" href="../css/buttons.bootstrap.min.css">
	  <link rel="stylesheet" href="../css/font-awesome.min.css">

    {{{ body }}} 
    
</body>
</html>